html {
    background-color:#ffb310;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
    margin:0 auto;
}

header {
    background-color: gray;
}

nav {
    background-color: green;
}

main {
    background-color: Yellow;
}



footer {
    background-color: blue;
}








