
html {
    background-color:#020659;
    
}
body {
    margin:0 auto; /* centers body in middle of viewport */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    width: 375px;
    background-color: white;
    color: white;

}
nav {
    background-color: #030A8c;
    grid-row: 1/2;
}

header {
    background-image: linear-gradient(to right, #2104d9, #030Abc, #020873, #020659);
    grid-row:2/3;
    padding: 10px;
}

main {
background-color: green;
}

div {
    background-color: pink;
}

#mainId {
    display: none;
}

footer p {
    font-size: .75em;
}


/* Text */
 h1 {
    font-size: 1.25em;
    font-variant: small-caps;
}

h2 {
    padding-left: 10px;
}

h2, h3 {
    font-size: 1em;
}

h2, h3, dl, dt, dd{
    color:#590242;
}

h3 {
    margin-bottom: 0px; ;
}

p, dl, dd {
    font-size: 1em;
}

dl {
    margin-top: 0px;
}


/* Menu CSS*/
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
a { 
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #590242;
}

li {
    text-align: center;
    background-color: #2104d9;
    padding: 15px;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
} 



/*Scroll Customizations */

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.scroll section {
    margin: 10px;
    position: relative; /* keep it in the spot where it should be according to HTML */
}
.scroll div {
    position: absolute; /* in relation to nearest element (section */
    top: 251px; /* pushes scroll down */ 
    background-color: rgba(255,255,255, .75);
    padding: 5px;
    height: 50px;
    width: 301px;
}
dl {
    display: flex; 
}
dt {
    padding-right: 1px;
    
}

/* Scroll Bar  CSS */
#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background:#020659;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: white; 
}


/* Audio  CSS */
audio {
    position: absolute;
    bottom: 120px;
    left: 5px;
}

audio::-webkit-media-controls-mute-button {
    background-color: white;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255, .5);
}



/* Media Query */
@media screen and (min-width:375px) {
    ul {
        list-style:none;
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:834px) {
    body {
        width: 834px;
    }
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        width: 835px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top:0px;
    }
    label span, input {
        display: none;
    }
    nav {
        padding-top: 0px;
    }
    header {
        margin-top: 20px;
    }
}















